body{
    padding: 100px;
    z-index: 0;
    
    }


h1{
    font-size: 100px;
}

.navbar-dark{
    background-color: rgb(5, 5, 5);
    /* border: 1px solid rgb(230, 142, 43); */
}

.navbar-nav{
    padding: 0px
}

.navbar-text{
    padding: 10px
}

#scratches{
    /* border: 1px solid rebeccapurple; */
    /* text-align: right;  */
}


.row{
    /* border: 3px solid purple; */
}

.scratchrow{
    border-bottom: 1px solid lightcoral
}

#scratchHeader{
    background-color: rgb(216, 238, 216);
    float: right;
    font-size: 2rem;
    padding: 10px ;
    height: 200px;
    width: 40%;
    text-align: right;

    
    
}

#scratchDesc{
    background-color:  rgb(186, 185, 226);
    float: left;
    padding: 10px;
    margin: 0px;
    width: 60%;
    height: 200px;
    text-align: right;
    font-size: 1.5rem;
}

.scratchHeader{
    background-color: rgb(216, 238, 216);
    float: right;
    font-size: 1rem;
    padding: 10px ;
    height: auto;
    width: 40%;
    text-align: right;

    
    
}

.scratchDesc{
    background-color:  rgb(186, 185, 226);
    float: left;
    padding: 10px;
    margin: 0px;
    width: 60%;
    height: auto;
    text-align: right;
    font-size: 0.8rem;
}

.carousel {
    background:rgb(231, 152, 34);
    /* border: 3px solid rgb(233, 16, 16); */
    padding: 0px;
    height: auto;
    width: 100%;
}
.carousel-inner{
    border: 1px solid black;
    height: 500px;
    width: 100%;
}

.carousel-item {
  height: 300px;
  max-width:100%;
}

.carousel-item img {
    position: absolute;
    top: 0;
    /* left: 35%; */
    width: 100%;
    /* left: 25%; */
    height: auto;
}